@import "../../variables.scss";

#stars {
    width: 196px;
    height: 36px;
    display: flex;
    justify-content: flex-end;

    .star {
        width: 24.75px;
        height: 24px;
        color: $color-primary;
        margin: 5.62px;
    }
}