@import "../../variables.scss";

#tags {
    display: flex;
    .tag {
        width: 115px;
        height: 25px;
        font-family: $font;
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        background-color: $color-primary;
        border-radius: 10px;
        margin-right: 10px;
    }
}