@import "../../variables.scss";

#host {
    width: 15.33%;
    height: 77px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    #hostName {
        width: 93px;
        height: 52px;
        font-family: $font;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: right;
        color: $color-primary;
        margin: 5px 10px 0 0;
    }

    #hostImg {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}