@import "../../variables.scss";

#host {
    width: 15.33%;
    height: 77px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: map-get($breakpoints, tablet)) {
        width: 36.13%;
        height: 33px;
    }

    #hostName {
        width: 93px;
        height: 52px;
        font-family: $font;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: right;
        color: $color-primary;
        margin: 5px 10px 0 0;

        @media (max-width: map-get($breakpoints, tablet)) {
            height: 33px;
            font-size: 12px;
            line-height: 17px;
        }

    }

    #hostImg {
        width: 60px;
        height: 60px;
        border-radius: 50%;

        @media (max-width: map-get($breakpoints, tablet)) {
            width: 32px;
            height: 32px;
        }
    }
}