@import "../../variables.scss";

#logementInfosHeader {
    display: flex;
    justify-content: space-between;
    margin: 30px 7% 0 7%;

    @media (max-width: map-get($breakpoints, tablet)) {
        flex-direction: column;
        margin-top: 17px;
    }

    #titleAndTags {
        display: flex;
        flex-direction: column;

        #logementText {
            width: 100%;

            #logementTitle,
            #logementLocation {
                margin: 0;
                font-family: $font;
                color: $color-primary;
                font-weight: 500;
                letter-spacing: 0em;
                text-align: left;
            }

            #logementTitle {
                font-size: 36px;
                line-height: 51.34px;

                @media (max-width: map-get($breakpoints, tablet)) {
                    font-size: 18px;
                    line-height: 26px;
                }
            }

            #logementLocation {
                font-size: 18px;
                line-height: 25.67px;

                @media (max-width: map-get($breakpoints, tablet)) {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }

    #hostAndStars {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (max-width: map-get($breakpoints, tablet)) {
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }
    }
}

#logementInfosCollapse {
    display: flex;
    justify-content: space-between;
    margin: 5px 7% 0 7%;

    .collapse {
        margin: 0;
        margin-bottom: 20px;
    }

    @media (max-width: map-get($breakpoints, tablet)) {
        flex-direction: column;
        margin-top: 20px;
    }

    >* {
        width: 46.93%;

        @media (max-width: map-get($breakpoints, tablet)) {
            font-family: $font;
            letter-spacing: 0em;
            text-align: left;
            width: 100%;
        }
    }

    .collapseBar {
        @media (max-width: map-get($breakpoints, tablet)) {
            height: 29.93px;
        }

        img {
            @media (max-width: map-get($breakpoints, tablet)) {
                width: 16px;
                height: 9.14px;
            }
        }
    }

    .collapseBar p {
        @media (max-width: map-get($breakpoints, tablet)) {
            font-size: 13px;
            font-weight: 500;
            line-height: 19px;
        }
    }

    .contentDown {
        height: 100%;
    }

    .collapseContent {
        @media (max-width: map-get($breakpoints, tablet)) {
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
        }
    }


}