#titleAndHost {
    height: 77px;
    margin: 30px 100px 0 100px;
    display: flex;

    justify-content: space-between;

    #logementText {
        width: 84.67%;

        #logementTitle,
        #logementLocation {
            margin: 0;
            font-family: Montserrat;
            color: #FF6060;
            font-weight: 500;
        }

        #logementTitle {
            font-size: 36px;
            line-height: 51px;
        }

        #logementLocation {
            font-size: 18px;
            line-height: 26px;
        }
    }
}

#tagAndStars {
    height: 36px;
    margin: 0 100px 0 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}