div #header {
    height: 68px;
    margin: 40px 100px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 210.32px;
        height: 68px;
    }

    #header-link {
        width: 25%;
        height: 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #accueilLink {
            width: 134px;
            text-align: end;
        }

        #aproposLink,
        #accueilLink {
            color: #ff6060;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 1px;
            }

        }

    }
}