div #header {
    height: 68px;
    margin: 50px 100px 0 100px;
    display: flex;
    align-content: space-between;

    .logo {
        width: 210.32px;
        height: 68px;
        margin-left: 100px;
    }

    #header-link {
        width: 309px;
        height: 34px;
        margin-right: 100px;

        a {
            color: #ff6060;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 1px;
            }
        }
    }
}