@import "../../variables.scss";

div #header {
    height: 68px;
    margin: 40px 7% 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logoHeader {
        width: 210.32px;
        height: 68px;

        @media (max-width: map-get($breakpoints, tablet)) {
            width: 145px;
            height: 47px;
        }
    }

    #header-link {
        width: 309px;
        height: 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: map-get($breakpoints, mobile)) {
            width: 140px;
            height: 17px;
        }

        #accueilLink {
            width: 134px;
            text-align: end;

            @media (min-width: map-get($breakpoints, mobile)) and (max-width: 530px) {
                width: 43.36%;
            }

            @media (max-width: map-get($breakpoints, mobile)) {
                width: 51.14%;
            }
        }

        #aproposLink {
            width: 116px;

            @media (min-width: map-get($breakpoints, mobile)) and (max-width: 530px) {
                width: 53%;
            }

            @media (max-width: map-get($breakpoints, mobile)) {
                width: 59px;
            }
        }

        #aproposLink,
        #accueilLink {
            color: $color-primary;
            text-decoration: none;
            font-family: $font;
            font-size: 24px;
            text-align: right;

            @media (max-width: map-get($breakpoints, mobile)) {
                text-transform: uppercase;
                font-size: 12px;
            }

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 1px;
            }
        }
    }
}