@import "../../variables.scss";

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 597px;
        height: 263px;
        margin-top: 175px;
    }

    h1,
    a {
        font-family: $font;
        font-weight: 500;
        letter-spacing: 0em;
        text-align: left;
        color: $color-primary;
    }

    h1 {
        font-size: 36px;
        line-height: 51px;
        margin-top: 75px;
    }

    a {
        margin-top: 170px;
        margin-bottom: 165px;
        font-size: 18px;
        line-height: 26px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
        }
    }
}